*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --main: #8c00d0;
}

html {
  scroll-padding-top: 10em;
}

body {
  font-family: Poppins, sans-serif;
  background-color: #333;
  scroll-behavior: smooth;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.showBackBtn {
  display: none;
}

.backBtn {
  display: none;
  position: fixed;
  right: 1%;
  bottom: 4%;
  z-index: 10;
}
.backBtn a {
  color: #fff;
  font-size: 2rem;
  padding: 1em;
  background-color: var(--main);
  border-radius: 15px;
  font-weight: bold;
}

.darkBg {
  background-color: rgba(0, 0, 0, 0.925);
}

.navbar-brand img {
  width: 250px;
}
.navbar-toggler {
  background-color: var(--main);
  padding: 0.5em 1em;
}
.navbar .nav-link,
.navbar .nav-link.active {
  color: #fff;
  font-size: 1.8rem;
  position: relative;
}
.navbar .nav-link:not(.nav-link--shop)::before,
.navbar .nav-link.active:not(.nav-link--shop)::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
}
.navbar .nav-link:hover:not(.nav-link--shop)::before,
.navbar .nav-link.active:hover:not(.nav-link--shop)::before {
  transform: scaleX(1);
  transform-origin: left;
}
.navbar .nav-link--shop,
.navbar .nav-link.active--shop {
  background-color: var(--main);
  color: #000;
  border-radius: 25px;
  border: 2px solid transparent;
}
.navbar .nav-link--shop:hover,
.navbar .nav-link.active--shop:hover {
  background-color: transparent;
  color: var(--main);
  border: 2px solid var(--main);
}
.navbar .nav-link--active,
.navbar .nav-link.active--active {
  color: #fff;
  font-size: 1.8rem;
  position: relative;
}
.navbar .nav-link--active::before,
.navbar .nav-link.active--active::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0.9);
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(2, 9, 39, 0.95)), url(../img/bgimg.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-top: 20em;
}
.header .navbar-brand img {
  width: 250px;
}
.header .navbar-toggler {
  background-color: var(--main);
  padding: 0.5em 1em;
}
.header .navbar .nav-link,
.header .navbar .nav-link.active {
  color: #fff;
  font-size: 1.8rem;
  position: relative;
}
.header .navbar .nav-link:not(.nav-link--shop)::before,
.header .navbar .nav-link.active:not(.nav-link--shop)::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
}
.header .navbar .nav-link:hover:not(.nav-link--shop)::before,
.header .navbar .nav-link.active:hover:not(.nav-link--shop)::before {
  transform: scaleX(1);
  transform-origin: left;
}
.header .navbar .nav-link--shop,
.header .navbar .nav-link.active--shop {
  background-color: var(--main);
  color: #000;
  border-radius: 25px;
  border: 2px solid transparent;
}
.header .navbar .nav-link--shop:hover,
.header .navbar .nav-link.active--shop:hover {
  background-color: transparent;
  color: var(--main);
  border: 2px solid var(--main);
}
.header .navbar .nav-link--active,
.header .navbar .nav-link.active--active {
  color: #fff;
  font-size: 1.8rem;
  position: relative;
}
.header .navbar .nav-link--active::before,
.header .navbar .nav-link.active--active::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0.9);
}
.header__content {
  padding: 6.25em 0;
}
.header__welcome {
  color: #fff;
  font-weight: 800;
  font-size: 3.5rem;
}
.header__brand {
  color: var(--main);
}
.header__img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__img img {
  animation: blockUpDown 5s ease-in-out infinite;
}
@keyframes blockUpDown {
  0%, 100% {
    transform: translateY(-2.5%);
  }
  50% {
    transform: translateY(2.5%);
  }
}
.header__btn .btn {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 2px;
  border: 1px solid #8c00d0;
  color: #8c00d0;
}
.header__btn .btn a {
  color: #8c00d0;
}
.header__btn .btn:hover {
  color: #fff;
  background-color: #8c00d0;
}
.header__btn .btn:hover a {
  color: #fff;
}
.header__arrows {
  font-size: 2rem;
  color: #fff;
  text-align: center;
  margin-top: 3em;
}
.header__arrows a {
  color: #fff;
  padding: 1em;
}
.header__arrows i {
  animation: chevronDown 1s ease-in-out infinite;
}
@keyframes chevronDown {
  0%, 100% {
    transform: translateY(-20%);
  }
  50% {
    transform: translateY(20%);
  }
}

.aboutus {
  padding: 5em 0em;
  position: relative;
  background: #101010;
}
.aboutus__divider {
  background-color: rgb(2, 9, 39);
  width: 40%;
  height: 55px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 30% 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 30% 100%);
}
.aboutus__title {
  color: #fff;
  font-size: 3.5rem;
  position: relative;
  text-transform: uppercase;
  font-weight: 800;
}
.aboutus__title::before {
  content: "";
  position: absolute;
  bottom: -15%;
  left: 0;
  height: 5px;
  width: 5%;
  background-color: var(--main);
}
.aboutus__info {
  color: #6c6c6c;
  margin: 1em 0em;
  letter-spacing: 1px;
  font-size: 1.6rem;
}
.aboutus__card {
  background-color: rgba(48, 48, 48, 0.6509803922);
  padding: 2.5em;
  margin-top: 5em;
  border-radius: 25px;
}
.aboutus__text {
  color: #fff;
  font-size: 2.2rem;
}
.aboutus__brand {
  font-weight: 700;
  color: var(--main);
}
.aboutus__feature {
  color: #fff;
  margin-top: 2em;
  margin-bottom: 0.75em;
  font-weight: 800;
  font-size: 2.4rem;
}
.aboutus__feature-box {
  background-color: #151515;
  border-radius: 25px;
  padding: 1em 1.5em;
  min-height: 275px;
}
.aboutus__feature-box img {
  margin-top: 1.5em;
}
.aboutus__feature-title {
  margin-top: 1.5em;
  color: #fff;
  font-size: 2rem;
}
.aboutus__feature-description {
  color: #aaa;
  font-size: 1.6rem;
}
.aboutus__icon {
  filter: hue-rotate(40deg);
}

.whyus {
  position: relative;
  background-color: rgb(2, 9, 39);
  padding: 5em 0em;
  z-index: 0;
}
.whyus__block {
  position: absolute;
  z-index: -1;
  opacity: 0.15;
  left: 10%;
  top: 10%;
  animation: blockBreath 3s infinite ease-in-out;
  rotate: -15deg;
}
.whyus__block img {
  width: 500px;
}
@keyframes blockBreath {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}
.whyus__divider {
  background-color: #101010;
  width: 40%;
  height: 55px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
}
.whyus__title {
  color: #fff;
  font-size: 3.5rem;
  position: relative;
  text-transform: uppercase;
  font-weight: 800;
  text-align: right;
}
.whyus__title::before {
  content: "";
  position: absolute;
  bottom: -15%;
  right: 0;
  height: 5px;
  width: 5%;
  background-color: var(--main);
}
.whyus__info {
  color: #6c6c6c;
  margin: 1em 0em;
  letter-spacing: 1px;
  font-size: 1.6rem;
  text-align: right;
}
.whyus__box {
  margin-top: 5em;
}
.whyus__item {
  background-color: rgba(48, 48, 48, 0.6509803922);
  padding: 1em 2em;
  border-radius: 15px;
  min-height: 225px;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.whyus__item:hover {
  transform: scale(1.025);
  background-color: rgba(74, 74, 74, 0.6509803922);
}
.whyus__item-icon {
  font-size: 4rem;
}
.whyus__item-icon--html {
  color: #e54c21;
}
.whyus__item-icon--css {
  color: #214ce5;
}
.whyus__item-icon--sass {
  color: #c76494;
}
.whyus__item-icon--bootstrap {
  color: #8712f6;
}
.whyus__item-icon--js {
  color: #f0dc4e;
}
.whyus__item-icon--jquery {
  color: #2a64b4;
}
.whyus__item-icon--php {
  color: #787cb4;
}
.whyus__item-icon--mysql {
  color: #5482a1;
}
.whyus__item-icon--java {
  color: #e28071;
}
.whyus__item-title {
  font-size: 2.2rem;
  font-weight: 700;
  color: #fff;
}
.whyus__item-description {
  font-size: 1.6rem;
  color: #aaa;
}

.partners {
  padding: 6em 0em;
  position: relative;
  background: #101010;
}
.partners__divider {
  background-color: rgb(2, 9, 39);
  width: 40%;
  height: 55px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 30% 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 30% 100%);
}
.partners__title {
  color: #fff;
  font-size: 3.5rem;
  position: relative;
  text-transform: uppercase;
  font-weight: 800;
}
.partners__title::before {
  content: "";
  position: absolute;
  bottom: -15%;
  left: 0;
  height: 5px;
  width: 5%;
  background-color: var(--main);
}
.partners__info {
  color: #6c6c6c;
  margin: 1em 0em;
  letter-spacing: 1px;
  font-size: 1.6rem;
}
.partners__swiper {
  background-color: #606060;
  padding: 1em;
  border-radius: 25px;
}
.partners__slide {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  position: relative;
  background-color: rgba(48, 48, 48, 0.6509803922);
  padding: 5em 0em;
}
.contact__divider {
  background-color: #101010;
  width: 40%;
  height: 55px;
  position: absolute;
  top: -0.5%;
  right: 0;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 17.5% 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 17.5% 100%);
}
.contact__title {
  color: #fff;
  font-size: 3.5rem;
  position: relative;
  text-transform: uppercase;
  font-weight: 800;
}
.contact__title::before {
  content: "";
  position: absolute;
  bottom: -15%;
  left: 0;
  height: 5px;
  width: 5%;
  background-color: var(--main);
}
.contact__info {
  color: #6c6c6c;
  margin: 1em 0em;
  letter-spacing: 1px;
  font-size: 1.6rem;
}
.contact__description {
  margin-top: 5rem;
}
.contact__description-title {
  color: #fff;
  font-size: 3.4rem;
  font-weight: 800;
}
.contact__description-text {
  font-size: 1.8rem;
  color: #aaa;
}
.contact__form {
  background-color: #212121;
  padding: 5em 3em;
  border-radius: 15px;
}
.contact__input {
  font-size: 1.6rem;
  height: 3em;
  padding: 0em 0.5em;
  width: 100%;
  outline: none;
  border: 3px solid rgba(255, 255, 255, 0.152);
  border-radius: 8px;
  background-color: transparent;
  color: #fff;
  transition: border 0.2s ease-in-out;
}
.contact__input:focus, .contact__input:valid {
  border: 3px solid var(--main);
}
.contact__input:focus ~ .contact__label, .contact__input:valid ~ .contact__label {
  transform: translateY(-100%);
  background-color: #212121;
  color: var(--main);
}
.contact__input option {
  color: #000;
}
.contact__textarea {
  font-size: 1.6rem;
  height: 3em;
  padding: 0em 0.5em;
  width: 100%;
  outline: none;
  border: 3px solid rgba(255, 255, 255, 0.152);
  border-radius: 8px;
  background-color: transparent;
  color: #fff;
  transition: border 0.2s ease-in-out;
}
.contact__textarea--box {
  margin-top: 4em;
}
.contact__textarea ~ .contact__label {
  top: 0;
  left: 0;
  transform: translateY(-100%) translateX(5%);
}
.contact__textarea:focus, .contact__textarea:valid {
  border: 3px solid var(--main);
}
.contact__textarea:focus ~ .contact__label, .contact__textarea:valid ~ .contact__label {
  background-color: #212121;
  color: var(--main);
}
.contact__label {
  display: inline-block;
  position: absolute;
  top: 25%;
  left: 5%;
  font-size: 1.6rem;
  pointer-events: none;
  color: rgb(106, 106, 106);
  padding: 0em 0.5em;
  border-radius: 15px;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.contact__btn {
  font-size: 1.75rem;
  border: 1px solid var(--main);
  color: var(--main);
}
.contact__btn:hover {
  background-color: var(--main);
  border: 1px solid var(--main);
}

.footer {
  padding: 5em 0em;
  background-color: #101010;
  border-top: 2px solid #4e4e4e;
}
.footer__divider {
  padding: 3em 0em;
}
.footer__title {
  color: #fff;
  font-size: 3.5rem;
  position: relative;
  text-transform: uppercase;
  font-weight: 800;
}
.footer__title::before {
  content: "";
  position: absolute;
  bottom: -15%;
  left: 0;
  height: 5px;
  width: 5%;
  background-color: var(--main);
}
.footer__info {
  color: #6c6c6c;
  margin: 1em 0em;
  letter-spacing: 1px;
  font-size: 1.6rem;
}
.footer__description {
  margin-top: 5rem;
}
.footer__description-title {
  color: #fff;
  font-size: 3.4rem;
  font-weight: 800;
}
.footer__description-text {
  font-size: 1.8rem;
  color: #aaa;
}
.footer .footer__location--title {
  font-size: 2.4rem;
  color: #fff;
  font-weight: 800;
}
.footer .footer__location--copyright {
  font-size: 1.6rem;
  color: #fff;
  letter-spacing: 1px;
}
.footer .footer__location--item {
  font-size: 1.5rem;
  color: #fff;
  font-weight: lighter;
}
.footer .footer__location--item i {
  color: var(--main);
  margin-right: 1em;
}
.footer .footer__hours--title {
  font-size: 2.4rem;
  color: #fff;
  font-weight: 800;
}
.footer .footer__hours--item {
  margin-top: 1em;
  font-size: 2rem;
  color: #aaa;
}
.footer .footer__hours--item-value {
  font-size: 1.8rem;
  color: #fff;
}
.footer .footer__newsletter-title {
  font-size: 2.4rem;
  color: #fff;
  font-weight: 800;
}
.footer .footer__newsletter-description {
  font-size: 2rem;
  color: #aaa;
}
.footer .footer__newsletter-box {
  border-radius: 8px;
  border: 2px solid #fff;
  padding: 2em 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer__newsletter-input {
  width: 75%;
  height: 25px;
  padding: 0.75em;
  font-size: 2rem;
}
.footer .footer__newsletter-btn {
  margin: 0em 1em;
  font-size: 1.5rem;
  background-color: var(--main);
  border: 1px solid var(--main);
}
.footer .footer__newsletter-btn:hover {
  border: 1px solid var(--main);
  background-color: #510079;
}

.projects {
  padding: 17em 0em;
  position: relative;
  background: #101010;
}
.projects__divider {
  background-color: rgb(2, 9, 39);
  width: 40%;
  height: 55px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 30% 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 30% 100%);
}
.projects__title {
  color: #fff;
  font-size: 3.5rem;
  position: relative;
  text-transform: uppercase;
  font-weight: 800;
}
.projects__title::before {
  content: "";
  position: absolute;
  bottom: -15%;
  left: 0;
  height: 5px;
  width: 5%;
  background-color: var(--main);
}
.projects__box {
  position: relative;
  border: 2px solid var(--main);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.projects__img {
  width: 100%;
  height: auto;
}
.projects__img:hover ~ .projects__description {
  display: block;
}
.projects__description {
  background-color: #fff;
  width: 100%;
  padding: 1em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.projects__description--title {
  font-size: 2.2rem;
  color: var(--main);
  font-weight: 700;
}
.projects__description--info {
  font-size: 1.4rem;
}
.projects__description--btn {
  color: var(--main);
  border: 1px solid var(--main);
  font-weight: 800;
}
.projects__description--btn a {
  color: var(--main);
}
.projects__description--btn:hover {
  background-color: var(--main);
  border: 1px solid var(--main);
}
.projects__description--btn:hover a {
  color: #fff;
}

.project {
  padding: 17em 0em;
  position: relative;
  background: #101010;
}
.project__divider {
  background-color: rgb(2, 9, 39);
  width: 40%;
  height: 55px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 30% 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 30% 100%);
}
.project__title {
  color: #fff;
  font-size: 3.5rem;
  position: relative;
  text-transform: uppercase;
  font-weight: 800;
}
.project__title::before {
  content: "";
  position: absolute;
  bottom: -15%;
  left: 0;
  height: 5px;
  width: 5%;
  background-color: var(--main);
}
.project__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.project__text--title {
  color: #fff;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 15px;
  margin: 1em 0em 1.5em 0em;
  text-align: center;
}
.project__text--description {
  font-size: 1.6rem;
  color: #bfbfbf;
  letter-spacing: 0.5px;
}
.project__img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.project__img img {
  border: 3px solid var(--main);
  border-radius: 15px;
}

.pricelist {
  padding: 5em 0em;
  position: relative;
  background: #101010;
}
.pricelist__divider {
  background-color: rgb(2, 9, 39);
  width: 40%;
  height: 55px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 30% 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 30% 100%);
}
.pricelist__title {
  color: #fff;
  font-size: 3.5rem;
  position: relative;
  text-transform: uppercase;
  font-weight: 800;
}
.pricelist__title::before {
  content: "";
  position: absolute;
  bottom: -15%;
  left: 0;
  height: 5px;
  width: 5%;
  background-color: var(--main);
}
.pricelist__card {
  background-color: #6f42c1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 25px;
}
.pricelist__card--title {
  color: #fff;
  font-size: 2rem;
  margin: 0.5em 0em;
}
.pricelist__card--price {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 800;
}
.pricelist__card--hr {
  width: 50%;
  height: 2px;
  background-color: #fff;
  margin: 1em 0em;
}
.pricelist__card--description {
  color: #fff;
  font-size: 1.3rem;
}
.pricelist__card--btn {
  background: #5a34a5;
  color: #000;
  font-size: 1.6rem;
  margin: 1em 0.5em;
  border-radius: 25px;
  padding: 0.5em 2em;
}
.pricelist__card--btn:hover {
  background-color: #482c81;
  color: #fff;
}

@media (min-width: 992px) {
  .showBackBtn {
    display: block;
  }
  .aboutus__divider {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 7% 100%);
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 7% 100%);
  }
  .whyus__divider {
    -webkit-clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
  }
  .partners__divider {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 7% 100%);
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 7% 100%);
  }
  .contact__divider {
    width: 65%;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 7% 100%);
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 7% 100%);
  }
  .projects__divider {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 7% 100%);
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 7% 100%);
  }
  .project__divider {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 7% 100%);
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 7% 100%);
  }
  .project__text--title {
    margin: 0em 0em 1em 0em;
  }
  .project__text {
    padding: 0em 5em;
  }
  .pricelist__divider {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 7% 100%);
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 7% 100%);
  }
}
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #262626;
}

::-webkit-scrollbar-thumb {
  background: #9a00e7;
}

::-webkit-scrollbar-thumb:hover {
  background: #550f78;
}/*# sourceMappingURL=style.css.map */