@use './reset' as *;

:root {
	--main: #8c00d0;
}

html {
	scroll-padding-top: 10em;
}

body {
	font-family: Poppins, sans-serif;
	background-color: #333;
	scroll-behavior: smooth;
	overflow-x: hidden;
	padding: 0;
	margin: 0;
}

//* BACK BTN *//
.showBackBtn {
	display: none;
}

.backBtn {
	display: none;
	position: fixed;
	right: 1%;
	bottom: 4%;
	z-index: 10;

	a {
		color: #fff;
		font-size: 2rem;
		padding: 1em;
		background-color: var(--main);
		border-radius: 15px;
		font-weight: bold;
	}
}

//* HEADER *//

.header {
	background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(2, 9, 39, 0.95)), url(../img/bgimg.png);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
	padding-top: 20em;

	.darkBg {
		background-color: rgba(0, 0, 0, 0.925);
	}

	.navbar {
		&-brand {
			img {
				width: 250px;
			}
		}

		&-toggler {
			background-color: var(--main);
			padding: 0.5em 1em;
		}

		.nav-link,
		.nav-link.active {
			color: #fff;
			font-size: 1.8rem;
			position: relative;

			&:not(.nav-link--shop)::before {
				position: absolute;
				content: '';
				bottom: 0;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: #fff;
				transform: scaleX(0);
				transform-origin: right;
				transition: transform 0.3s;
			}

			&:hover:not(.nav-link--shop)::before {
				transform: scaleX(1);
				transform-origin: left;
			}
			&--shop {
				background-color: var(--main);
				color: #000;
				border-radius: 25px;
				border: 2px solid transparent;

				&:hover {
					background-color: transparent;
					color: var(--main);
					border: 2px solid var(--main);
				}
			}

			&--active {
				color: #fff;
				font-size: 1.8rem;
				position: relative;
			}

			&--active::before {
				position: absolute;
				content: '';
				bottom: 0;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: #fff;
				transform: scaleX(0.9);
			}
		}
	}

	&__content {
		padding: 6.25em 0;
	}

	&__welcome {
		color: #fff;
		font-weight: 800;
		font-size: 3.5rem;
	}

	&__brand {
		color: var(--main);
	}

	&__img {
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			animation: blockUpDown 5s ease-in-out infinite;

			@keyframes blockUpDown {
				0%,
				100% {
					transform: translateY(-2.5%);
				}
				50% {
					transform: translateY(2.5%);
				}
			}
		}
	}

	&__btn {
		.btn {
			font-size: 2rem;
			font-weight: 600;
			letter-spacing: 2px;
			border: 1px solid #8c00d0;
			color: #8c00d0;

			a {
				color: #8c00d0;
			}
			&:hover {
				color: #fff;
				background-color: #8c00d0;

				a {
					color: #fff;
				}
			}
		}
	}
	&__arrows {
		font-size: 2rem;
		color: #fff;
		text-align: center;
		margin-top: 3em;

		a {
			color: #fff;
			padding: 1em;
		}

		i {
			animation: chevronDown 1s ease-in-out infinite;

			@keyframes chevronDown {
				0%,
				100% {
					transform: translateY(-20%);
				}
				50% {
					transform: translateY(20%);
				}
			}
		}
	}
}

//* MAIN *//

//* ABOUT US *//
.aboutus {
	padding: 5em 0em;
	position: relative;
	background: #101010;

	&__divider {
		background-color: rgba(2, 9, 39, 1);
		width: 40%;
		height: 55px;
		position: absolute;
		top: 0;
		right: 0;
		clip-path: polygon(0 0, 100% 0%, 100% 100%, 30% 100%);
	}

	&__title {
		color: #fff;
		font-size: 3.5rem;
		position: relative;
		text-transform: uppercase;
		font-weight: 800;

		&::before {
			content: '';
			position: absolute;
			bottom: -15%;
			left: 0;
			height: 5px;
			width: 5%;
			background-color: var(--main);
		}
	}

	&__info {
		color: #6c6c6c;
		margin: 1em 0em;
		letter-spacing: 1px;
		font-size: 1.6rem;
	}

	&__card {
		background-color: #303030a6;
		padding: 2.5em;
		margin-top: 5em;
		border-radius: 25px;
	}

	&__text {
		color: #fff;
		font-size: 2.2rem;
	}

	&__brand {
		font-weight: 700;
		color: var(--main);
	}

	&__feature {
		color: #fff;
		margin-top: 2em;
		margin-bottom: 0.75em;
		font-weight: 800;
		font-size: 2.4rem;

		&-box {
			background-color: #151515;
			border-radius: 25px;
			padding: 1em 1.5em;
			min-height: 275px;

			img {
				margin-top: 1.5em;
			}
		}

		&-title {
			margin-top: 1.5em;
			color: #fff;
			font-size: 2rem;
		}

		&-description {
			color: #aaa;
			font-size: 1.6rem;
		}
	}

	&__icon {
		filter: hue-rotate(40deg);
	}
}

//* WHY US *//
.whyus {
	position: relative;
	background-color: rgba(2, 9, 39, 1);
	padding: 5em 0em;
	z-index: 0;

	&__block {
		position: absolute;
		z-index: -1;
		opacity: 0.15;
		left: 10%;
		top: 10%;
		animation: blockBreath 3s infinite ease-in-out;
		rotate: -15deg;

		img {
			width: 500px;
		}

		@keyframes blockBreath {
			0%,
			100% {
				transform: scale(1);
			}
			50% {
				transform: scale(1.05);
			}
		}
	}

	&__divider {
		background-color: #101010;
		width: 40%;
		height: 55px;
		position: absolute;
		top: 0;
		left: 0;
		clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
	}

	&__title {
		color: #fff;
		font-size: 3.5rem;
		position: relative;
		text-transform: uppercase;
		font-weight: 800;
		text-align: right;

		&::before {
			content: '';
			position: absolute;
			bottom: -15%;
			right: 0;
			height: 5px;
			width: 5%;
			background-color: var(--main);
		}
	}

	&__info {
		color: #6c6c6c;
		margin: 1em 0em;
		letter-spacing: 1px;
		font-size: 1.6rem;
		text-align: right;
	}

	&__box {
		margin-top: 5em;
	}

	&__item {
		background-color: #303030a6;
		padding: 1em 2em;
		border-radius: 15px;
		min-height: 225px;
		transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;

		&:hover {
			transform: scale(1.025);
			background-color: #4a4a4aa6;
		}

		&-icon {
			font-size: 4rem;

			&--html {
				color: #e54c21;
			}

			&--css {
				color: #214ce5;
			}

			&--sass {
				color: #c76494;
			}

			&--bootstrap {
				color: #8712f6;
			}

			&--js {
				color: #f0dc4e;
			}

			&--jquery {
				color: #2a64b4;
			}

			&--php {
				color: #787cb4;
			}

			&--mysql {
				color: #5482a1;
			}

			&--java {
				color: #e28071;
			}
		}

		&-title {
			font-size: 2.2rem;
			font-weight: 700;
			color: #fff;
		}

		&-description {
			font-size: 1.6rem;
			color: #aaa;
		}
	}
}

//* CONTACT *//
.contact {
	position: relative;
	background-color: #303030a6;
	padding: 5em 0em;

	&__divider {
		background-color: rgba(2, 9, 39, 1);
		width: 40%;
		height: 55px;
		position: absolute;
		top: -0.5%;
		right: 0;
		clip-path: polygon(0 0, 100% 0%, 100% 100%, 17.5% 100%);
	}

	&__title {
		color: #fff;
		font-size: 3.5rem;
		position: relative;
		text-transform: uppercase;
		font-weight: 800;

		&::before {
			content: '';
			position: absolute;
			bottom: -15%;
			left: 0;
			height: 5px;
			width: 5%;
			background-color: var(--main);
		}
	}

	&__info {
		color: #6c6c6c;
		margin: 1em 0em;
		letter-spacing: 1px;
		font-size: 1.6rem;
	}

	&__description {
		margin-top: 5rem;

		&-title {
			color: #fff;
			font-size: 3.4rem;
			font-weight: 800;
		}

		&-text {
			font-size: 1.8rem;
			color: #aaa;
		}
	}

	&__form {
		background-color: #212121;
		padding: 5em 3em;
		border-radius: 15px;
	}

	&__input {
		font-size: 1.6rem;
		height: 3em;
		padding: 0em 0.5em;
		width: 100%;
		outline: none;
		border: 3px solid rgba(255, 255, 255, 0.152);
		border-radius: 8px;
		background-color: transparent;
		color: #fff;
		transition: border 0.2s ease-in-out;

		&:focus,
		&:valid {
			border: 3px solid var(--main);
		}

		&:focus ~ .contact__label,
		&:valid ~ .contact__label {
			transform: translateY(-100%);
			background-color: #212121;
			color: var(--main);
		}

		option {
			color: #000;
		}
	}

	&__textarea {
		font-size: 1.6rem;
		height: 3em;
		padding: 0em 0.5em;
		width: 100%;
		outline: none;
		border: 3px solid rgba(255, 255, 255, 0.152);
		border-radius: 8px;
		background-color: transparent;
		color: #fff;
		transition: border 0.2s ease-in-out;

		&--box {
			margin-top: 4em;
		}

		& ~ .contact__label {
			top: 0;
			left: 0;
			transform: translateY(-100%) translateX(5%);
		}

		&:focus,
		&:valid {
			border: 3px solid var(--main);
		}

		&:focus ~ .contact__label,
		&:valid ~ .contact__label {
			background-color: #212121;
			color: var(--main);
		}
	}

	&__label {
		display: inline-block;
		position: absolute;
		top: 25%;
		left: 5%;
		font-size: 1.6rem;
		pointer-events: none;
		color: rgb(106, 106, 106);
		padding: 0em 0.5em;
		border-radius: 15px;
		transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	}

	&__btn {
		font-size: 1.75rem;
		border: 1px solid var(--main);
		color: var(--main);

		&:hover {
			background-color: var(--main);
			border: 1px solid var(--main);
		}
	}
}

//* FOOTER *//
.footer {
	&__divider {
		padding: 3em 0em;
	}
	&__title {
		color: #fff;
		font-size: 3.5rem;
		position: relative;
		text-transform: uppercase;
		font-weight: 800;

		&::before {
			content: '';
			position: absolute;
			bottom: -15%;
			left: 0;
			height: 5px;
			width: 5%;
			background-color: var(--main);
		}
	}

	&__info {
		color: #6c6c6c;
		margin: 1em 0em;
		letter-spacing: 1px;
		font-size: 1.6rem;
	}

	&__description {
		margin-top: 5rem;

		&-title {
			color: #fff;
			font-size: 3.4rem;
			font-weight: 800;
		}

		&-text {
			font-size: 1.8rem;
			color: #aaa;
		}
	}
	padding: 5em 0em;
	background-color: #101010;
	border-top: 2px solid #4e4e4e;

	.footer__location {
		&--title {
			font-size: 2.4rem;
			color: #fff;
			font-weight: 800;
		}

		&--copyright {
			font-size: 1.6rem;
			color: #fff;
			letter-spacing: 1px;
		}

		&--item {
			font-size: 1.5rem;
			color: #fff;
			font-weight: lighter;

			i {
				color: var(--main);
				margin-right: 1em;
			}
		}
	}

	.footer__hours {
		&--title {
			font-size: 2.4rem;
			color: #fff;
			font-weight: 800;
		}

		&--item {
			margin-top: 1em;
			font-size: 2rem;
			color: #aaa;

			&-value {
				font-size: 1.8rem;
				color: #fff;
			}
		}
	}

	.footer__newsletter {
		&-title {
			font-size: 2.4rem;
			color: #fff;
			font-weight: 800;
		}

		&-description {
			font-size: 2rem;
			color: #aaa;
		}

		&-box {
			border-radius: 8px;
			border: 2px solid #fff;
			padding: 2em 3em;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&-input {
			width: 75%;
			height: 25px;
			padding: 0.75em;
			font-size: 2rem;
		}

		&-btn {
			margin: 0em 1em;
			font-size: 1.5rem;
			background-color: var(--main);
			border: 1px solid var(--main);
			&:hover {
				border: 1px solid var(--main);
				background-color: #510079;
			}
		}
	}
}

//* PROJECTS *//
.projects {
	padding: 5em 0em;
	position: relative;
	background: #101010;

	&__divider {
		background-color: rgba(2, 9, 39, 1);
		width: 40%;
		height: 55px;
		position: absolute;
		top: 0;
		right: 0;
		clip-path: polygon(0 0, 100% 0%, 100% 100%, 30% 100%);
	}

	&__title {
		color: #fff;
		font-size: 3.5rem;
		position: relative;
		text-transform: uppercase;
		font-weight: 800;

		&::before {
			content: '';
			position: absolute;
			bottom: -15%;
			left: 0;
			height: 5px;
			width: 5%;
			background-color: var(--main);
		}
	}

	&__box {
		position: relative;
		border: 2px solid var(--main);
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	&__img {
		width: 100%;
		height: auto;

		&:hover ~ .projects__description {
			display: block;
		}
	}
	&__description {
		background-color: #fff;
		width: 100%;
		padding: 1em;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;

		&--title {
			font-size: 2.2rem;
			color: var(--main);
			font-weight: 700;
		}

		&--info {
			font-size: 1.4rem;
		}

		&--btn {
			color: var(--main);
			border: 1px solid var(--main);
			font-weight: 800;

			a {
				color: var(--main);
			}

			&:hover {
				background-color: var(--main);
				border: 1px solid var(--main);

				a {
					color: #fff;
				}
			}
		}
	}
}

//* PRICELIST *//
.pricelist {
	padding: 5em 0em;
	position: relative;
	background: #101010;

	&__divider {
		background-color: rgba(2, 9, 39, 1);
		width: 40%;
		height: 55px;
		position: absolute;
		top: 0;
		right: 0;
		clip-path: polygon(0 0, 100% 0%, 100% 100%, 30% 100%);
	}

	&__title {
		color: #fff;
		font-size: 3.5rem;
		position: relative;
		text-transform: uppercase;
		font-weight: 800;

		&::before {
			content: '';
			position: absolute;
			bottom: -15%;
			left: 0;
			height: 5px;
			width: 5%;
			background-color: var(--main);
		}
	}

	&__card {
		background-color: #6f42c1;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		border-radius: 25px;

		&--title {
			color: #fff;
			font-size: 2rem;
			margin: 0.5em 0em;
		}

		&--price {
			color: #fff;
			font-size: 1.8rem;
			font-weight: 800;
		}
		&--hr {
			width: 50%;
			height: 2px;
			background-color: #fff;
			margin: 1em 0em;
		}

		&--description {
			color: #fff;
			font-size: 1.3rem;
		}

		&--btn {
			background: #5a34a5;
			color: #000;
			font-size: 1.6rem;
			margin: 1em 0.5em;
			border-radius: 25px;
			padding: 0.5em 2em;

			&:hover {
				background-color: #482c81;
				color: #fff;
			}
		}
	}
}

@media (min-width: 992px) {
	.showBackBtn {
		display: block;
	}

	.aboutus {
		&__divider {
			clip-path: polygon(0 0, 100% 0%, 100% 100%, 7% 100%);
		}
	}

	.whyus {
		&__divider {
			clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
		}
	}

	.contact {
		&__divider {
			width: 65%;
			clip-path: polygon(0 0, 100% 0%, 100% 100%, 7% 100%);
		}
	}
	.projects {
		&__divider {
			clip-path: polygon(0 0, 100% 0%, 100% 100%, 7% 100%);
		}
	}

	.pricelist {
		&__divider {
			clip-path: polygon(0 0, 100% 0%, 100% 100%, 7% 100%);
		}
	}
}

//* SCROLLBAR *//
::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	background: #262626;
}

::-webkit-scrollbar-thumb {
	background: #9a00e7;
}

::-webkit-scrollbar-thumb:hover {
	background: #550f78;
}
